
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
.idea/
.DS_Store
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

CLAUDE.md
.claude

/fifa_solidarity_decisions_20250609_201154.json
/fifa_solidarity_decisions_20250609_203122.json
/fifa_solidarity_decisions_20250609_203140.json
/fifa_solidarity_decisions_urls_20250609_201154.txt
/fifa_solidarity_decisions_urls_20250609_203122.txt
/fifa_solidarity_decisions_urls_20250609_203140.txt
/._.DS_Store
/node_modules/
/src/._.DS_Store
/fifa_solidarity_decisions_20250622_113523.json
/fifa_solidarity_decisions_20250622_113904.json
/fifa_solidarity_decisions_urls_20250622_113523.txt
/fifa_solidarity_decisions_urls_20250622_113904.txt
